
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Mi estilos */

.caja-tarea{
  display: flex;
  justify-content: center;
  border: 1px solid lightblue;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 100%;
  color: rgb(45, 78, 75);
  font-weight: bold;
  background: rgb(230, 238, 214);
}


.contenedor-principal{
  display: flex;
  width: 100%;
}

.contenedor{
  margin: auto;
  width: 40%;
}

.div-actualizar{
  /* display: none; */
}

.input-task{
  background: rgb(230, 238, 214);
  border: 0;
}

